<a href="https://instagram.com/easternkingdom/" target="_blank" href="https://twitter.com/intent/tweet?text=Eastern%20Kingdom%20is%20Re-Imagining%20Athletic%20Handbags%21%20http%3A%2F%2Feasternkingdomnyc.com"><%= fa_icon "twitter lg" %></a>
