<div class="row">
  <div class="col-md-12">
    <h1 class="logo">EASTERN KINGDOM</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>NEW YORK</h1>
  </div>
</div>
<h1>Welcome, <%= @customer.first_name %>!</h1>

<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <p class="footer">#EASTERNKINGDOM <a href="https://instagram.com/easternkingdom/" target="_blank"><%= fa_icon "instagram lg" %></a></p>
  </div>
</div>
